apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: maven-no-settings17
  namespace: quarkusdroneshop-cicd
spec:
  description: Run Maven build without using custom settings.xml
  params:
    - name: GOALS
      description: Maven goals to run
      type: string
    - name: CONTEXT_DIR
      description: Directory containing the Maven project
      type: string
      default: "."
  workspaces:
    - name: source
      description: The workspace containing the Maven project.
  steps:
    - name: mvn
      image: registry.access.redhat.com/ubi8/openjdk-17
      workingDir: $(workspaces.source.path)/$(params.CONTEXT_DIR)
      script: |
        #!/bin/sh
        echo "Running mvn $(params.GOALS)"
        mvn $(params.GOALS)